* {
  padding: 0;
  margin: 0;
  list-style: none;
}
html {
  font-size: 13.33333333vw;
}
#head {
  background-color: #252525;
  width: 100%;
  margin-bottom: 0.4rem;
  overflow: hidden;
}
#head .daohang {
  display: flex;
  justify-content: space-around;
  margin-top: 0.54rem;
  margin-bottom: 0.22rem;
}
#head .daohang .yuyin {
  width: 0.25rem;
  height: 0.37rem;
  background: url('../images/sprit.png') no-repeat -0.05rem 0rem;
  background-size: 5.0rem 5.0rem;
  margin-top: 0.12rem;
}
#head .daohang .sou {
  position: relative;
  width: 5.48rem;
  height: 0.6rem;
}
#head .daohang .sou .search {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0.18rem;
  color: #dcdcdc;
  line-height: 0.6rem;
  text-align: center;
  border-radius: 0.15rem;
}
#head .daohang .sou .soupic {
  width: 0.26rem;
  height: 0.26rem;
  background: url('../images/sprit.png') no-repeat -0.04rem -0.56rem;
  background-size: 5.0rem 5.0rem;
  position: absolute;
  top: 0.2rem;
  left: 1.2rem;
}
#head .daohang .bo {
  width: 0.4rem;
  height: 0.36rem;
  background: url('../images/sprit.png') no-repeat 0rem -0.86rem;
  background-size: 5.0rem 5.0rem;
  margin-top: 0.12rem;
}
#head .dao {
  display: flex;
  font-size: 0.32rem;
  color: #ffffff;
  width: 100%;
}
#head .dao li {
  height: 0.72rem;
  line-height: 0.72rem;
}
#head .dao .a {
  margin-left: 1.1rem;
}
#head .dao .b {
  margin-left: 0.25rem;
}
#head .dao .c {
  color: #37dff3;
  border-bottom: 2px solid #37dff3;
}
#di {
  width: 6.92rem;
  margin: 0 auto;
}
#di .biao1 {
  display: flex;
  justify-content: space-around;
  font-size: 0.2rem;
  color: #787878;
}
#di .biao1 li {
  height: 1.12rem;
  box-sizing: border-box;
  padding-top: 0.55rem;
}
#di .biao1 .biao1a {
  background: url('../images/dianyin.png') no-repeat top center;
  background-size: 0.44rem 0.44rem;
}
#di .biao1 .biao1b {
  background: url('../images/dianqin.png') no-repeat top center;
  background-size: 0.58rem 0.42rem;
}
#di .biao1 .biao1c {
  background: url('../images/dianyu.png') no-repeat top center;
  background-size: 0.39rem 0.42rem;
}
#di .biao1 .biao1d {
  background: url('../images/diansan.png') no-repeat top center;
  background-size: 0.45rem 0.43rem;
}
#di .biao1 .biao1e {
  background: url('../images/dianren.png') no-repeat top center;
  background-size: 0.43rem 0.39rem;
}
#di .biao1 .biao1f {
  background: url('../images/dianer.png') no-repeat top center;
  background-size: 0.39rem 0.39rem;
}
#di .biao1 .biao1g {
  background: url('../images/dianyou.png') no-repeat top center;
  background-size: 0.57rem 0.38rem;
}
#di .biao1 .biao1h {
  background: url('../images/dianqu.png') no-repeat top center;
  background-size: 0.41rem 0.40rem;
}
#di .jingcai {
  width: 100%;
  margin-top: 0.45rem;
}
#di .jingcai .jinga {
  font-size: 0.35rem;
  color: #000000;
  border-left: 2px solid #000;
  text-indent: 0.2rem;
  margin-bottom: 0.2rem;
}
#di .jingcai .jingb {
  width: 100%;
  height: 1.28rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
}
#di .jingcai .jingb .tu {
  width: 0.9rem;
  height: 0.9rem;
  margin-top: 0.19rem;
  background: url(../images/diantua.jpg) no-repeat;
  background-size: 0.9rem 0.9rem;
  margin-right: 0.16rem;
}
#di .jingcai .jingb .zi {
  flex: 1;
  font-size: 0.27rem;
  color: #000000;
  line-height: 0.4rem;
  box-sizing: border-box;
  padding-top: 0.2rem;
}
#di .jingcai .jingc {
  width: 100%;
  height: 1.28rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}
#di .jingcai .jingc .tu {
  width: 0.9rem;
  height: 0.9rem;
  margin-top: 0.19rem;
  background: url(../images/diantub.jpg) no-repeat;
  background-size: 0.9rem 0.9rem;
  margin-right: 0.16rem;
}
#di .jingcai .jingc .zi {
  flex: 1;
  font-size: 0.27rem;
  color: #000000;
  line-height: 0.4rem;
  box-sizing: border-box;
  padding-top: 0.2rem;
}
#di .day {
  width: 100%;
  margin-top: 0.6rem;
}
#di .day .tui {
  font-size: 0.35rem;
  color: #000000;
  border-left: 2px solid #000;
  text-indent: 0.2rem;
  margin-bottom: 0.5rem;
}
#di .day .picList {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#di .day .picList li {
  width: 2.2rem;
  height: 3.6rem;
}
#di .day .picList .one1 {
  background: url('../images/lista.jpg') no-repeat top;
  background-size: 2.2rem 2.2rem;
}
#di .day .picList .one2 {
  background: url('../images/listb.jpg') no-repeat top;
  background-size: 2.2rem 2.2rem;
}
#di .day .picList .two1 {
  background: url('../images/list2.jpg') no-repeat top;
  background-size: 2.2rem 2.2rem;
}
#di .day .picList .two2 {
  background: url('../images/list3.jpg') no-repeat top;
  background-size: 2.2rem 2.2rem;
}
#di .day .picList .three1 {
  background: url('../images/lista.jpg') no-repeat top;
  background-size: 2.2rem 2.2rem;
}
#di .day .picList .three2 {
  background: url('../images/listc.jpg') no-repeat top;
  background-size: 2.2rem 2.2rem;
}
#di .day .picList .botzi {
  width: 100%;
  font-size: 0.28rem;
  color: #000000;
  margin-top: 2.3rem;
  line-height: 0.4rem;
}
#bottom {
  width: 100%;
  height: 0.98rem;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  position: fixed;
  bottom: 0;
}
#bottom li {
  text-align: center;
  position: relative;
}
#bottom .boa {
  background: url('../images/yinyue.png') no-repeat top center;
  background-size: 0.48rem 0.36rem;
  margin-top: 0.12rem;
}
#bottom .bob {
  background: url('../images/die.png') no-repeat top center;
  background-size: 0.44rem 0.44rem;
  margin-top: 0.12rem;
}
#bottom .boc {
  background: url('../images/pen.png') no-repeat top center;
  background-size: 0.31rem 0.42rem;
  margin-top: 0.12rem;
}
#bottom .bod {
  background: url('../images/lian.png') no-repeat top center;
  background-size: 0.43rem 0.45rem;
  margin-top: 0.12rem;
}
#bottom .boa1 {
  font-size: 0.2rem;
  color: #282828;
  display: block;
  margin-top: 0.5rem;
}
#bottom .boa2 {
  font-size: 0.2rem;
  color: #282828;
  display: block;
  margin-top: 0.5rem;
  text-decoration: none;
}
