* {
  padding: 0;
  margin: 0;
  list-style: none;
}
html {
  font-size: 13.33333333vw;
}
#mid {
  width: 100%;
  height: 100%;
}
#mid .swiper-container {
  width: 100%;
  height: 100%;
}
#mid .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}
#mid .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
#mid .open {
  position: absolute;
  width: 3.34rem;
  height: 1.22rem;
  border: 0.02rem solid #72c3f9;
  border-radius: 0.1rem;
  font-size: 0.5rem;
  color: #888787;
  line-height: 1.22rem;
  text-align: center;
  font-weight: bold;
  top: 10.52rem;
  left: 50%;
  margin-left: -1.67rem;
  text-decoration: none;
}
